@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');
html, body {
    width: 100%;
    height: 100%;
    font-size: 15px;
    padding: 0;
    margin: 0;
    font-family: 'Roboto', roboto;
}

body {
    background-image: linear-gradient(to right top, #d16ba5, #c777b9, #ba83ca, #aa8fd8, #9a9ae1, #8aa7ec, #79b3f4, #69bff8, #52cffe, #41dfff, #46eefa, #5ffbf1);
}

label, input, fieldset {
    padding: 0;
    margin: 0;
}
.erro{
    color: #ff4343;
}

fieldset {
    border: none;
}

input {
    border: none;
    background-color: inherit;
}

input:focus {
    box-shadow: 0 0 0 0;
    border: 0 none;
    outline: 0;
}

main {
    width: 400px;
    margin: 0 auto;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    animation: introducao-animation .80s linear;
}

h1 {
    font-size: 1.69rem;
    color: #343F56;
    font-weight: 800;
}

p{
    color:#f2f2f2;
}

a{
    font-weight: bold;
    text-decoration: none;
    color: #7375f3;
    cursor: pointer;
}
a:hover{
    color: #9597f8;
}

h1::before {
    display: block;
    content: '';
    width: 50%;
    height: 5px;
    margin: .5rem 0;
    background-color: #343F56;
}

form {
    border-radius: 15px;
    background-color: #343F56;
    padding: 25px;
}

fieldset {
    box-sizing: border-box;
    width: auto;
    justify-content: center;
    margin-top: 5px;
    margin-bottom: 15px;
}

label, legend {
    color: #F5E6CA;
    display: block;
    padding: 0!important;
    margin: 0!important;
}

input, select{
    cursor: pointer;
}

input[type=text] {
    width: 98%;
    background-color: #e7e7e7;
    line-height: 25px;
    height: 25px;
    padding: 5px;
    color: #343F56;
    border: 1px solid #F5E6CA;
    border-radius: 5px;
}

input[type=text]:hover, select:hover {
    border-color: #000000;
}

input[type=number] {
    width: 98%;
    background-color: #e7e7e7;
    line-height: 25px;
    height: 25px;
    padding: 5px;
    color: #343F56;
    border: 1px solid #F5E6CA;
    border-radius: 5px;
}

input[type=number]:hover, select:hover {
    border-color: #000000;
}

select{
    width: 100%;;
    height: 30px;
    line-height: 30px;
    border-radius: 5px;
    border-color:#F5E6CA;
    background-color: #E7E7E7;
    color: #343F56;
}

fieldset legend {
    display: inline;
}

fieldset.group label {
    display: inline;
    margin: 0 15px 0 5px!important;
}

input[type=submit] {
    width: 100%;
    height: 45px;
    border-radius: 15px;
    background-color: #F5E6CA;
    color: #292D36;
    font-size: 1.5rem;
    font-family: 'Montserrat', sans-serif;
    cursor: pointer;
    transition: all .5s ease-in-out;
}

#celular::-webkit-inner-spin-button{
    -webkit-appearance: none;
}

@keyframes introducao-animation {
    0% {
        transform: translateY(-50px);
        opacity: 0;
    }
    100% {
        transform: translateY(0);
        opacity: 1;
    }
}

